
    
<!--
  <nav>
    <a routerLink="appointments" class="btn btn-primary confirm" role="button" routerLinkConfirm="confirm">Appointments</a>
    <br>
    <a routerLink="login" class="btn btn-primary confirm" role="button" routerLinkConfirm="confirm">login</a>
  </nav> 
  -->
  
  
  <div class="container"> 
    <div class="logout">
      <span *ngIf='isAuth' > 
        <a (click)='onLogout()'> <i class="fas fa-sign-out-alt"></i> Sign Out </a>
      </span>
    </div>
  </div>
  
<router-outlet></router-outlet>
